*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.colors{
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
    &>div{
        margin-bottom: 20px;
        &.names{
            margin: 50px 0 0 50px;
            z-index: 4;
            align-self: flex-start;
            h1{
                cursor: pointer;
            }
        }

        &#toggle_img{
            display: none;
            flex-direction: column;
            align-items: center;
            margin-top: 60px;
            margin-right: 300px;
            &>div{
                display: flex;
                justify-content: center;
                &#open_box{
                    flex-direction: column;
                    align-items: center;
                    &>.box1{
                        cursor: pointer;
                        height: 60px;
                        width: 300px;
                        z-index: 1;
                        background-color: red;
                        border: 2px solid black;
                        display: flex;
                        justify-content: center;
                        &>div{
                            background-color: black;
                            border: 2px solid black;
                            width: 50px;
                            height: 100%;
                        } 
                    }
                    &>.decoration{
                        display: flex;
                        justify-content: center;
                        width: 100%;
                        height: 60px;
                        &>.box1{
                            position: relative;
                            width: 110px;
                            height: 110px;
                            background-color: black;
                            &::after{
                                content: "";
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                z-index: 2;
                                background-color: white;
                                transform: rotate(45deg) translate(-50px,-50px);
                            }
                        }
                    }
                    &.animating{
                        z-index: 2;
                        animation-duration: 0.5s;
                        animation-name: animating;
                        animation-fill-mode: forwards;
                
                    }
                    @keyframes animating {
                        0%{ transform: translate(0,0) rotate(0deg);}
                        100%{ transform: translate(-170px,-40px) rotate(-80deg);}
                    }
                }
                &.box2{
                    cursor: pointer;
                    z-index: 1;
                    top: -5px;
                    height: 220px;
                    width: 280px;
                    display: flex;
                    background-color: red;
                    border: 2px solid black;
                    &>div{
                        display: flex;
                        align-items: center;
                        background-color: black;
                        border: 2px solid black;
                        width: 50px;
                        height: 100%;
                    }
                }
            }
        }
    }
    img#show_up{
        cursor: pointer;
        width: 50px;
        position: absolute;
        left:48%;
        top: 60%;
        opacity: 0;
        display: none;
        &.showing{
            display: block;
            animation-duration: 2s;
            animation-name: showing;
            animation-fill-mode: forwards;
        }
        @keyframes showing {
            0%{top:60%;left:35%;transform: scale(0.0);opacity: 0;}
            25%{opacity: 0;}
            50%{opacity: 0.5;}
            75%{opacity: 0.75;}
            100%{top:25%;left: 45%;transform: scale(4.4);opacity: 1;}
        }
    }

    img#mario{
        width: 50px;
        height: 50px;
        position: absolute;
        left: -50px;
        top: 90%;
        z-index: 5;
        &.running{
            animation-name: mario;
            animation-duration: 15s;
            animation-fill-mode: forwards;
            animation-iteration-count: infinite;
        }
        &.running1{
            animation-name: mario;
            animation-duration: 15s;
            animation-fill-mode: forwards;
            animation-iteration-count: infinite;
            animation-direction: reverse;
        }
        &.dancing{
            animation-name: bowser;
            animation-duration: 15s;
            animation-fill-mode: forwards;
            animation-iteration-count: infinite;
        }
    }

    @keyframes mario {
        0%{top:90%;left:-50px;}
        30%{top:90%;left: 95%;transform: rotate(0deg)}
        35%{transform: rotate(-90deg)}
        50%{top:0%;left: 95%;transform: rotate(-90deg)}
        55%{transform: rotate(-180deg)}
        80%{top:0%;left: 0%;transform: rotate(-180deg);}
        85%{transform: rotate(-270deg)}
        100%{top:100%;left: 0%;transform: rotate(-270deg);}
    }
    @keyframes bowser {
        0%{transform: scale(1,1);top:90%;left:-50px;}
        25%{transform: scale(3,3);top:80%;left:100px;}
        50%{transform: scale(5,5);top:70%;left:150px;}
        75%{transform: scale(3,3);top:80%;left:100px;}
        100%{transform: scale(1,1);top:90%;left:-50px}
    }

    img#position{
        display: none;
        width: 400px;
        height: 400px;
        position: absolute;
        left: 60%;
        top: 20%;
    }
   

  
}